h3 {
  font-size: 30px;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
}

.blog {
  border: 10px solid tomato;
  margin: 25px;
  box-shadow: 10px 10px 10px blueviolet;
}

.second {
  /* display: none; */
  /* visibility: hidden; */
}

.elit {
  border: 2px solid red;
  /* display: block; */
  margin: 15px;
  /* height: 100px; */
  display: inline-block;
  padding: 15px;
}

li {
  display: inline;
}